.color_f{
	color: black;
}

table.automatic_p{
	width: 100%;
	border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table.automatic_p th{
	border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table.automatic_p td{
	border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.caja_boton{
    width: 100%;
}
.wrap2{
width: 100%;
margin-bottom: 20px;
margin-top: 20px;
padding: 20px;
}

#miexel{
text-decoration: none;
color: #fff;
background-color: #26a69a;
text-align: center;
letter-spacing: .5px;
transition: background-color .2s ease-out;
cursor: pointer;
border: none;
border-radius: 2px;
display: inline-block;
height: 36px;
line-height: 36px;
padding: 0 16px;
text-transform: uppercase;
vertical-align: middle;
}
#table_mer{

	width: 100%;
	padding: 10px;
}

#reporte_ejecutivo{
	background-color: transparent;
border: none;
		border-bottom-color: currentcolor;
		border-bottom-style: none;
		border-bottom-width: medium;
border-bottom: 1px solid #9e9e9e;
border-radius: 0;
outline: none;
height: 3rem;
width: 100%;
font-size: 16px;
margin: 0 0 8px 0;
padding: 0;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-box-sizing: content-box;
box-sizing: content-box;
-webkit-transition: border .3s, -webkit-box-shadow .3s;
transition: border .3s, -webkit-box-shadow .3s;
transition: box-shadow .3s, border .3s;
transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
.cajaredsociales{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    border-radius: 0 !important;
    outline: none !important;
    height: 3rem !important;
    width: 80% !important;
    font-size: 16px !important;
    margin: 0 0 8px 0 !important;
    padding: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    -webkit-transition: border .3s, -webkit-box-shadow .3s !important;
    transition: border .3s, -webkit-box-shadow .3s !important;
    transition: box-shadow .3s, border .3s !important;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s !important;
}
