

/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../material_icons_master/iconfont/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../material_icons_master/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../material_icons_master/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../material_icons_master/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

header{
    width: 100%;
    height: 100%;
    background: rgb(244, 245, 247);
    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */
}

section#menu{
      background:white;
}
section#menu .primera_sec_menu {
    display: flex;
    height: 100px;
}
section#menu .primera_sec_menu ul{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0px;
    text-align: center;
}
section#menu .primera_sec_menu ul li{
    display: inline-block;
    padding: 0px;
    margin: auto;
    height: 30px;
}

section#menu .primera_sec_menu ul li label.ttt1{
 display: none;
 position: absolute;
margin: auto;
width: 0px;
font-size: 11px;
color: black;
padding-top: 35px;
  }
  section#menu .primera_sec_menu ul li label.ttt2{
 display: none;
 position: absolute;
margin: auto;
width: 0px;
font-size: 11px;
color: black;
  padding-top: 35px;
  }

section#menu .primera_sec_menu ul li a{
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: rgb(223,97,27);
    font-weight:bold;
    margin: 0px 5px;
    font-size: 15px;
    font-weight: 300;
  }
section#menu .primera_sec_menu ul li a:after{
        position: absolute;
        bottom: 10px;
        left: 0px;
        width: 100%;
        height: 2px;
        background-color: rgb(223,97,27);
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);
        font-weight: 300;
    }
    section#menu .primera_sec_menu ul li a:hover:after{
        opacity:1;
        transform: translateY(15px)
    }

section#menu .primera_sec_menu ul li a.activee{
color: white;
    }

  section#menu .segunda_sec_menu{
    position: absolute;
    background: black;
    width: 100%;
    height: auto;
    display: none;
    z-index: 2;
  }

  section#menu .segunda_sec_menu .catalogm {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 10px 10px;
  }
  section#menu .segunda_sec_menu .catalogm a {
   text-decoration: none;
   color: white;
}
section#contenido{
    margin-top: 20px;
    margin-bottom: 20px;
}

section#contendio h1{
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
}

td.danger{
    background-color: #000;
    color: #fff;
    font-size: 10px;
}
#contenido_menup{
  position: fixed;
    top: calc(100% / 2);
    width: 50px;
    height: 50px;
    display: flex;
}
#contenido_menup .miicon{
    width: auto;
    height: auto;
    margin: auto;
    padding: 0px;
    font-size: 50px;
    cursor: pointer;
}

.ajustcar{
     margin-bottom: 10px;
}
.acomodocentrado{
  margin: auto;
}
#inicio_log{
      margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}
#estado_de_cuenta .tarjeta{
    border: 1px solid black;
    display: block;
    margin-bottom: 10px;
    width: 225px;
}

#estado_de_cuenta .tarjeta .imagen_dust{

  position: relative;
    width: 100%;
    height: 150px;
}
#estado_de_cuenta .tarjeta .imagen_dust img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

}

#estado_de_cuenta .tarjeta .descripcion{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 170px;
    background: rgb(69,69,69);
}

#estado_de_cuenta .tarjeta .descripcion h5 {
        height: 50px;
    font-size: 12px;
    margin: auto;
    color: white;
    padding: 10px;

}

i.material-icons.miicon{
    width: auto;
    height: auto;
    margin: auto;
    padding: 0px;
    font-size: 40px;

}

.item-price{
    color: white;
    padding: 5px;
}
/*input#wp-submit {
    width: 200px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 10px;
}*/
img.imagen_men {
    width: 50px;
    position: relative;
    height: 50px;
}

section#tienda_detalles{
  margin-bottom:20px;
  margin-top: 20px;
}
.contenedortitproduct {
    padding: 50px 0 0px 0;
}
.cuadro_grend {
    border: 1px solid #0c0c0c;
    width: 400px;
    display: flex;
    margin: auto;
    padding: 15px;
    background: transparent;
    left: 0px;
    top: 0px;
    height: 100%;
    text-align: center;
}
.cuadro_grend button a {
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: rgb(223,97,27);
}


.contenedordeproductos  {
    padding: 0 0 50px 0;
}

section#tienda_detalles .contenedortitproduct .cuadro_grend  button {
 border: 1px solid rgb(223,97,27);
 margin: auto;
}

.newcontentt {
    margin-top: 60px;
    display: block;
    border-bottom: 2px solid rgb(223,97,27);
}

.tamano {
    width: 200px;
    padding: 2px;
    height: 200px;
    margin: auto;
}
.mg_boton {
    float: right;
}
.altcheclist h2 a {
    text-decoration: none;
    color: black;
    font-family: 'OpenSans-CondLight';
}
.mg_boton button.button {
    padding: 5px 10px 5px 10px;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid rgb(223,97,27);
    color: rgb(223,97,27);
    cursor: pointer;
    display: block;
    width: auto;
    margin-top: 10px;
}
.marg_red2 .boton {
    padding: 5px 10px 5px 10px;
    font-family: 'OpenSans-CondLight';
    text-transform: capitalize;
    background: transparent;
    border: 1px solid black;
    color: red;
    cursor: pointer;
    display: block;
    width: 100px;
    text-align: center;
}
.marg_red2 a{
  text-decoration: none;
}
.altcheclist {
    margin-bottom: 20px;
}
.container-mart h5 {
    text-align: right;
    display: block;
    text-transform: capitalize;
}

a.btn {
    border: 1px solid rgb(223,97,27);
    color: rgb(223,97,27);
    text-decoration: none;
}

a.btn:hover {

    color:black;
}

.caritto{
  width: 50px;
  height: 50px;
  background: url(../img/carrito1.png)no-repeat scroll center center/cover;
    transition: 1s;
    position: relative;
    transition: .25s all ease;
    cursor: pointer;
    float: left;
}

.caritto:hover{
  background: url(../img/carrito2.png)no-repeat scroll center center/cover;
}
.tt{
  margin: auto;
  width: 30px;
  height: 40px;
}
.menu_cat {
    display: none;
    color: black;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: #5f5f5f;
    width: 250px;
    border-right: 1px solid #5f5f5f;
    z-index: 5;
    text-decoration: none;
}
.acomodod{
    margin: 0px;
    display: block;
    padding: 0px;
    position: absolute;
}
.acomodod i#cerrar{
    margin: 0px;
    cursor: pointer;
    padding: 0px;
    display: block;
    position: absolute;
    left: 82px;
}

footer{
  background: #5f5f5f;
      width: 100%;
      color: white;
      display: block;
      padding: 10px;
      font-weight: 300;
      position: absolute;
      bottom:0px;
}
footer .marff {
  display: flex;
  height: auto;
}
footer .marff a{
text-decoration: none;
color: rgb(223,97,27);
margin: auto;
font-size: 14px;
font-weight: 300;
}
footer .marff p{
  width: 100%;
  height: auto;
  margin: auto;
  padding:0px;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
table tbody tr td.menu_tab{
font-size: 10px;
}
table tbody tr td{
font-size: 10px;
}
.circulo {
    border: 1px solid red;
    border-radius: 80px;
    text-align: center;
    position: relative;
    padding: 1px 5px 1px 5px;
    top: -30px;
    overflow: hidden;
    margin: 0px 0px 0 25px;
    font-size: 12px;
    background: red;
    color: white;
    bottom: 0px;
}
.acomu{
  cursor: pointer;
  background: transparent;
}
.color_car{
      color: rgb(223,97,27);
}
.color_car:hover{
      color: black;
}
span.woocommerce-Price-currencySymbol {
    display: none;
}
ul.wc_payment_methods.payment_methods.methods {
    display: none;
}
#hy{
  display: none;
}

.ocultar{
  display: none;
}
.cajas_de_tst{
   width: 100%;
   display: block;
}

span.woocommerce-input-wrapper.anchoboton {
    width: 100%;
}

#place_order{
  border: solid 1px rgb(223,97,27);
  color: rgb(223,97,27);
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}
.input-text,.country_select{
      border: solid 1px rgb(223,97,27);
}
.id_descarga_convenio{
    width: 100%;
    padding: 10px;
    margin: auto;
    height: 100%;
    top: 30%;
    position: relative;
    border: solid 1px rgb(223,97,27);
    text-decoration: none;
    color: rgb(223,97,27);
    cursor: pointer;
}
.id_descarga_convenio:hover{
color: black;
text-decoration:none;
}

#boton_menu_puntos{
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 3;
    right: 0px;
}

#contenido_menup_puntos{
    width: 140px;
    height: 140px;
    font-size: 10px;
    background: rgb(223,97,27);
}

#puntos_uno{
    width: auto;
    height: auto;
    margin: auto;
    padding: 0px;
    cursor: pointer;
    font-size: 10px;
}
table#beneficios_table {
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

table#beneficios_table tbody tr td {
    font-size: 10px;
   /*
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    */
    padding: .75rem;
}
table#beneficios_table tbody tr td font{
font-size: 14px;
}


#contenido_menup_puntos ul{
    display: block;
    padding: 5px;
    top: 0px;
    margin: auto;
    overflow: hidden;
    width: 100%;
}

#contenido_menup_puntos ul li{
      padding: 5px 10px 5px 10px;
    width: 100%;
}
#contenido_menup_puntos ul li label{
      padding: 0px;
      margin: 0px;
}
.mas_p{
  color: black;
}
.mas_p a{
  text-decoration: none;
  color: black;
}
.cart-subtotal{
  display: none;
}
table.shop_table.woocommerce-checkout-review-order-table{
  width: 100%;
}
#botton_m{
  cursor: pointer;

}
.colrm{
    color: #5f5f5f;
}
section#contendio_p{
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background: white;
    min-width: 0;
}

section#contendio_p .contendio_p_login{
    width: 600px;
    margin: auto;
   padding: 5% 0 5% 0;
}
section#contendio_p .contendio_p_login h1{
text-align: center;
color: black;
text-transform: uppercase;

}
section#contendio_p .contendio_p_login .inputt{
    width: 100%;
    height: 40px;
    background: white;
    color: black;
    border-radius: 10px;
}
.buser_t{
    width: 100%;
    height: 40px;
    background: black;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
}
.woocommerce-order-details__title{
  display: none;
}
.product-quantity{
  text-align: center;
}
.color_beneficios{
background: #088A08 !important;
color: white !important;
border-color: green !important;
}
.centrar_tabla{
  text-align: center;
}
table#reporte_ejecutivo{
  border: 1px solid #039be5;
  width: 100%;
  margin-bottom: 1rem;
}
table#reporte_ejecutivo th{

      border: 1px solid #039be5;
      text-align: center;
      text-transform: uppercase;
      color: #039be5;
      font-size: 15px;
      font-weight: 300;
}
table#reporte_ejecutivo tr td{
      border-right:1px solid #039be5;
      text-align: center;
}

table#historial_fact{
  border: 1px solid #039be5;
  width: 100%;
  margin-bottom: 1rem;
}
table#historial_fact th{

        border: 1px solid #039be5;
        text-align: center;
        text-transform: uppercase;
        color: #039be5;
        font-size: 15px;
        font-weight: 300;
}
table#historial_fact tr td{
      border-right:1px solid #039be5;
      text-align: center;
}
i.color_f.fa.fa-file-pdf-o.fa-2x{
  color: red;
}
i.color_f.fa.fa-file-text-o.fa-2x {
color:black;
}
section#tienda_detalles h1{
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
}
.marco_capa {
  padding: 10px;
}
.cabecera_menu{
  padding: 10px;
}
.marco_capa ul li a {
    color: rgb(223,97,27);
    text-decoration: none;
    text-transform: uppercase;
}
#menu_cat label{
  text-transform: uppercase;
  color: black;
  text-align: center;
}
section#contendio {
    bottom: 20px;
    position: relative;
}
.color_azul{
border: 1px solid #039be5;
text-align: center;
text-transform: uppercase;
color: #039be5;
font-size: 15px;
font-weight: 300;
}


table.report_eje{
border: 1px solid #039be5;
width: 100%;
margin-bottom: 1rem;
}
table.report_eje tr th{
  text-transform: uppercase;
}
table .report_eje tr td{
border-right: 1px solid #039be5;
text-align: center;
width: 50%;

}
table.report_eje tr td.mm{
      font-size: 15px;
    color: black;
}

